
<p>To add a member to your group, search for his name or email in box below:</p>

<div class="row">
  <div class="col-sm-8 my-3">
    <%= form_with url: new_group_membership_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by email or by name"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
