// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$wtd-dark: #0F0F0F;
$white: #ffffff;
$neon: #EE6352;
$test: #ff9595;
$secondary-gray: #292929;
$error-gray: #9b9b9b;
$purple: #7e52a0;
$teal: #48a9a6;
