<div class="container p-5">

  <div class="d-flex flex-column pb-4 border-bottom border-4 mb-4">
    <h2 class="m-0">Group settings</h2>
  </div>

  <div>
    <h5>Members</h5>
    <ul class="list-group my-3">
      <% @members.each do |member| %>
        <li class="list-group-item d-flex gap-3"> <%= member.email %>
          <% if current_user.memberships.find_by(group: @group, admin: true) %>
            <%= link_to group_membership_path(@group, membership: {group: @group, user_id: member}),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </li>
      <% end%>
    </ul>
  </div>

  <div class="d-flex flex-fill mt-4 gap-3">
    <%= link_to 'Leave Group', group_membership_path(@group, membership: {group: @group, user_id: current_user}),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-danger flex-fill"%>
    <% if current_user.memberships.find_by(group: @group, admin: true) %>
      <%= link_to "Delete Group", group_path(@group), data: { "turbo-method": :delete }, class: "btn btn-outline-danger flex-fill"%>
    <% end %>
  </div>
</div>
