<div class="container p-5">
  <%= render 'new_group_modal' %>


  <% if @groups.empty? %>
    <h2> You're not part of any group </h2>

  <% else %>
    <div class="d-flex justify-content-between align-items-center mb-4">

    <h2>My groups</h2>

    </div>

    <%= render 'shared/group_card', groups: @groups %>

  <% end %>

</div>
