<div class="container p-5">

  <div class="d-flex justify-content-between align-items-center pb-3 border-bottom border-2 mb-4">
      <h2 class="m-0">My groups</h2>
      <%= render 'new_group_modal' %>
  </div>
  <% if @groups.empty? %>
    <p>You don't have any groups. Create one! </p>

  <% else %>

    <div class="row m-0 gap-4">
      <% @groups.each do |group| %>
        <%= link_to group_path(group), class: "text-decoration-none text-dark" do %>
          <div class="text-decoration-none text-dark group-card">
            <h3><%= group.name.capitalize %></h3>
            <p class="p-0 m-0"><%= group.description %></p>
          </div>
        <%end%>
      <% end %>
    </div>

  <% end %>

</div>
