<h1> Create a new group </h1>


<%= simple_form_for @group do |f| %>
  <%= f.input :name, label: 'How would you like to call your group?', error: 'Username is mandatory, please specify one' %>
  <%= f.input :description, hint: 'No special characters.' %>
  <%= f.button :submit %>
<% end %>
