<div id="footer" class="pt-5">
  <div class="">
    <div class="row m-0">


      <nav class="col-12 col-md-4">
         <b><%= "Discover" %></b>
        <div class="my-3">
          <%= link_to "Activities", activities_path, class: "link-footer" %>
        </div>
      </nav>

      <nav class="col-12 col-md-4" style="justify-content: center">
      <h6>Follow us</h6>
        <div class="social-icons pt-1">
            <a href="#"><i class="fab fa-facebook-f fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x mx-2"></i></a>
        </div>
      </nav>

      <nav class="col-12 col-md-4">
        <b><%= "What To Do" %></b>
        <div class="my-3">
          <%= link_to "About", activities_path, class: "link-footer" %>
        </div>
      </nav>
    </div>


    <div class="mt-4 py-3"style="font-size: 0.8em;">
        <a href="#"class="mx-3">Terms of Service</a>
        <a href="#"class="mx-3">Privacy Policy</a>
        <a href="#"class="mx-3">Cookie Policy</a>
    </div>
  </div>
</div>
