<div class="input-group d-flex flex-nowrap justify-content-between my-4" data-controller="clipboard">
  <input class="form-input-search" data-clipboard-target="input" type="text" value="<%= @invite_link %>" readonly>
  <div class="input-group-append flex-shrink-0">
    <button id="copy-button" class="form-input-search-button" data-action="click->clipboard#copy">Copy link</button>
  </div>
</div>
