<div class="row d-flex justify-content-right m-0 gap-4">
  <% groups.each do |group| %>
    <%= link_to group_path(group), class: "text-decoration-none text-dark group-card" do %>
      <h3><%= group.group.name.capitalize %></h3>
      <p class="p-0 m-0"><%= group.group.description %></p>
    <% end %>
  <% end %>
</div>
