<div id="message-<%= message.id %>">
  <small>
    <strong class="me-1"><%= message.user.first_name %></strong>
    <i><%= message.created_at.strftime(" %l:%M %p, %b %e") %></i>
  </small>
  <p><%= message.content %></p>
</div>
