<div class="container">
  <div class="text-center my-4">
      <h1 class="mb-4">Unlock your city's best kept secrets!</h1>
      <p class="mb-4">Discover the pulse of your city with just a tap! Our app is your ultimate companion for unearthing hidden gems, buzzing events, and exclusive happenings tailored just for you.</p>
<div class="d-flex justify-content-center gap-1">
      <h1 class="text-danger"><%= @activities.count %></h1>
      <p> </p>
      <h2>  activities listed.. </h2>
</div>

      <div><%= image_tag 'landing-image2.png', alt: 'Landing page image', width: '300' %></div>
<br>
            <%= link_to "Browse Activities", activities_path, class:"btn btn-primary"%>

      <%# <button class="btn btn-primary my-5">Join us</button> %>
      <%# <div class="card activity-card">
        <div class="card-header">
          <p>Find activities</p>
          <h4>Connections are open!</h4>
          <h6>Meet anyone at Deceptive Patterns by Harry Brignull... Stay in touch by becoming a connection.</h6>
          <button>Make connections</button>
        </div>
      </div> %>



<%# <div>
  My Group
</div>

<div>
  My dashboard
</div> %>
