.activities {
  position: relative;
  height: 90svh;
  touch-action: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .cards {
    position: relative;
    height: 60%;
    top: 14%;
  }
  .card-footer {
    position: relative;
    top: 18%;
    display: flex;
    align-items: center;
    height: 10%;
    & > div {
      width: 100%;
    }
  }

  .filters-container {
    // position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .background {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.2);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: opacity .3s ease;
      pointer-events: none;
    }
    .fa-filter {
      color: #EE6352;;
    }
    .fa-xmark {
      color: #EE6352;;
      display: none;
    }

    &.open {
      z-index: 10;
      .menu {
        opacity: 1;
        pointer-events: all;
      }
      .background {
        opacity: 1;
      }
      .fa-filter {
        display: none;
      }
      .fa-xmark {
        display: block;
      }
    }

    & > button {
      position: relative;
      margin-top: 0;
      outline: none;
      border: 1px solid #EE6352;;
      z-index: 2;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $wtd-dark;
      box-shadow: 0px 0px 3px 2px rgba(100, 100, 111, 0.2);
      .count {
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: rgb(121, 222, 121);
        bottom: -5px;
        right: -5px;
      }
    }
    .menu {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 15px;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s ease;

      & .filter-button {
        background-color: #EE6352;
        border-radius: 5px;
        border: none;
        color: white;
      }

      .date-input {
        input[type="date"] {
          width: 100%;
          border: 1px solid #EE6352;
          border-radius: 0.2rem;
          font-size: 1rem;
          box-sizing: border-box;
          transition: border-color 0.3s ease;
          background: $wtd-dark;
          color: white;
        }
      }

      input[type="checkbox"] {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
        appearance: none; // Remove default styles
        -webkit-appearance: none; // For older versions of Safari
        width: 1rem; // Customize the checkbox size
        height: 1rem; // Customize the checkbox size
        border: 2px solid #ccc; // Customize the border color
        border-radius: 0.2rem; // Customize the border radius
        transition: all 0.3s ease; // Add transition for smoother change

        &:checked {
          background-color: #EE6352; // Customize the background color when checked
          border-color: #EE6352; // Customize the border color when checked
        }

        &:focus {
          outline: none; // Remove default focus outline
        }
      }

      datalist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        margin-top: -5px;
      }

      .slider-container {
        padding-top: 20px;
        opacity: 1;
        .input-wrapper {
          position: relative;
          input {
            &::-webkit-slider-thumb, &::-moz-range-thumb {
              appearance: none;
              -webkit-appearance: none; /* Override default look */
              width: 3px;
              height: 15px;
              border-radius: 0px;
              background-color: orange;
              outline: none;
              border: none;

            }
            &:focus::-webkit-slider-thumb, &::-moz-range-thumb {
              outline: none;
              border: none;
            }
          }
        }
        .marker {
          opacity: 1;
          position: absolute;
          top: 0;
          transform: translate(-50%, -100%);
          left: 100%;
          width: 30px;
          height: 20px;
          border-radius: 5px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #EE6352;
          &::after {
            content: '';
            position: absolute;
            z-index: 0;
            width: 6px;
            height: 6px;
            left: 50%;
            bottom: 0;
            transform-origin: center;
            transform: translate(-50%, calc(50% - 2px)) rotate(-45deg);
            background-color: #EE6352;
          }
          p {
            position: relative;
            font-size: 10px;
            z-index: 4;
            margin: 0;
          }
        }
      }

      option {
        padding: 0;
      }

      input[type="range"] {
        width: 200px;
        margin: 0;
      }

    }
  }

  .browse {
    position: absolute;
    width: 85vw;
    height:fit-content;
    max-width: 500px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 0.5px solid $error-gray;
    box-shadow: rgba(85, 85, 85, 0.2) 0px 7px 29px 0px;

    &.moving {
      transform: translate(0, 0);
    }
  }

  .scroll {
    max-height: 100px;
    overflow-y: auto;
  }

  .savebox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    top: 10;
    right: 0;
    width: 20vw;
    height: 100%;
    background: $neon;
    i {
      font-size: 30px;
      color: white;
      opacity: 0;
    }
    &.ready-save {
      i {
        opacity: 1;
      }
    }
    opacity: 0;
  }

  .discardbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    top: 10;
    left: 0;
    width: 20vw;
    height: 100%;
    background: $purple;
    i {
      font-size: 30px;
      color: white;
      opacity: 0;
    }
    &.ready-discard {
      i {
        opacity: 1;
      }
    }
    opacity: 0;
  }

  .button-save {
    border-radius: 5px;
    background-color: #D2691E;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
      outline: 1px solid rgb(255, 0, 170);
    }
  }

  .button-discard {
    border-radius: 5px;
    background-color: #DC143C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
      outline: 1px solid rgb(255, 0, 170);
    }
  }

  .btn-saves {
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    background-color: #FF7F50;
    color: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .empty-notice {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    scale: 0;
    transition: all .3s ease;
    &.visible {
      opacity: 1;
      scale: 1;
    }
    p {
      text-align: center;
    }
  }

  .activity-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-content {
    padding: 24px;
  }

  .card-subtext {
    color: $error-gray;
    font-size: 14px;
    font-weight: 500;
  }

  .activity-button {
    height: 70px;
    width: 70px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 22px;
    font-weight: lighter;

    &.dislike {
      font-size: 26px;
      color: $purple;
      border: 1px solid $purple;
      box-shadow: rgba(127, 105, 255, 0.2) 0px 7px 29px 0px;
    }

    &.like {
      font-size: 24px;
      color: $neon;
      border: 1px solid $neon;
      box-shadow: rgba(159, 54, 54, 0.2) 0px 7px 29px 0px;
    }

    &.send {
      color: $teal;
      border: 1px solid $teal;
      box-shadow: rgba(42, 103, 125, 0.2) 0px 7px 29px 0px;
    }
  }
}
