
.activities {
  height: 90svh;
  border: 1px dashed red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cards {
    position: relative;
    height: 70%;
  }
  .card-footer {
    display: flex;
    align-items: center;
    height: 10%;
    & > div {
      width: 100%;
    }
  }

  .filters-container {
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
  }

  .browse {
    position: absolute;
    width: 85vw;
    height:fit-content;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 0.5px solid #BABABA;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &.moving {
      transform: translate(0, 0);
    }
  }

  .scroll {
    max-height: 100px;
    overflow-y: auto;
  }

  .savebox {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    top: 10;
    right: 0;
    width: 20vw;
    height: 100vh;
    background: #809612;
    i {
      font-size: 30px;
      color: white;
      opacity: 0;
    }
    &.ready-save {
      i {
        opacity: 1;
      }
    }
    opacity: 0;
  }

  .discardbox {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    top: 10;
    left: 0;
    width: 20vw;
    height: 100vh;
    background: #a8191c;
    i {
      font-size: 30px;
      color: white;
      opacity: 0;
    }
    &.ready-discard {
      i {
        opacity: 1;
      }
    }
    opacity: 0;
  }

  .button-save {
    border-radius: 5px;
    background-color: #D2691E;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
      outline: 1px solid rgb(255, 0, 170);
    }
  }

  .button-discard {
    border-radius: 5px;
    background-color: #DC143C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
      outline: 1px solid rgb(255, 0, 170);
    }
  }

  .btn-saves {
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    background-color: #FF7F50;
    color: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .empty-notice {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    scale: 0;
    transition: all .3s ease;
    &.visible {
      opacity: 1;
      scale: 1;
    }
  }

  .activity-img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-content {
    padding: 24px;
  }

  .card-subtext {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: 500;
  }

  .activity-button {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #BABABA;
    font-size: 18px;
    font-weight: lighter;

    &.dislike {
      font-size: 24px;
      color: #FF7F50;
    }

    &.like {
      font-size: 20px;
      color: #ff036c;
    }

    &.send {
      color: #0500a1;
    }
  }

}
