.event-card {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  border: 0.5px solid $error-gray;
  box-shadow: rgba(85, 85, 85, 0.2) 0px 7px 29px 0px;
}

.card-img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.booking-content {
  padding: 24px;
}

.booking-subtext {
  color: rgb(154, 154, 154);
  font-size: 16px;
  font-weight: 500;
}
