.group-profile-header {
  position: relative;
  text-align: center;
  color: white;
  max-height: 200px;
  overflow: hidden;
}

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-header {
    font-size: large;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.8)
  }

  .group-image-cloudinary {
    width: 100%;
    max-height: 200px;
    object-fit: cover;

  }
