.group-card {
  width: 130px;
  height: 130px;
  border-radius: 8px;
  padding: 18px;
  background-color: $secondary-gray;
  box-shadow: rgba(79, 79, 79, 0.2) 2px 2px 20px;
  color: $white;
}

.group-card h3 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid $error-gray;
  margin-bottom: 10px;
  color: $white;
}

.fa-pen-to-square {
  font-size: 18px;
  color: #6c757d;
}
