.margin {
  margin-bottom: 20px;
}

.activity-card {
  background: url('/app/assets/images/andytee_illustraition_of_people_doing_fun_activity_landing_pa_01508fb7-f424-4326-95ee-dd1363ac3846_0.png') no-repeat center center;
  background-size: cover;
  opacity: 0.1; /* 10% opacity */
}

card-header {
  opacity: 1;

}
