.mapboxgl-ctrl-geocoder--input {
  background-color: #A3AABE;
  color: white;
  border-radius: 5%;
}

.mapboxgl-ctrl-geocoder {
  background-color: #A3AABE;
  color: white;
  border-radius: 5%;
}

.mapboxgl-ctrl {
  background-color: #A3AABE;
  color: white;
  border-radius: 5%;
}

.fa-location {
  background-color: red;
  border: none;
}
