.navbar-lewagon {
  justify-content: space-between;
  background: $wtd-dark;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  z-index: 1060;
}
