.invite {
  margin: 0;
  margin-bottom: 2px;
  font-size: 12px;
  color: grey;
}

.notification-card {
  border: 2px solid rgb(203, 203, 203);
  border-radius: 6px;
  padding: 10px 14px;
  background-color: rgb(237, 237, 237);
}

.notification-card h4 {
  font-size: 16px;
  font-weight: 500;
}
