.invite {
  margin: 0;
  margin-bottom: 2px;
  font-size: 11px;
  color: rgb(186, 186, 186);
}

.notification-card {
  border-radius: 12px;
  padding: 14px 14px;
  background-color: $secondary-gray;
  transition: 0.15s ease-in-out;

  &:hover {
    border: 0.5px solid $neon;
  }
}

.notification-card h4 {
  font-size: 14px;
  font-weight: 500;
  color: $white;
}
