.pin {
  border-top: 2px solid $secondary-gray;
  background-color: $wtd-dark;
  box-shadow: rgba(123, 123, 123, 0.2) 0px 7px 29px 0px;
  padding: 16px;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}
