.save-card {
  border: 2px solid rgb(203, 203, 203);
  border-radius: 6px;
  padding: 10px 14px;
  background-color: rgb(237, 237, 237);
}

.save-card h4 {
  font-size: 16px;
  font-weight: 500;
}

.details {
  color: rgb(136, 136, 136);
  font-size: 12px;
}
