.subtext {
  color: rgb(136, 136, 136);
}

.tag {
  margin: 0;
  padding: 2px 8px;
  background-color: rgb(201, 227, 236);
  border-radius: 20px;
  width: fit-content;
  font-size: 11px;
  font-weight: 500;
}

.description {
  color: rgb(136, 136, 136);
  font-size: 16px;
}

.box {
  margin: 20px 0;
  height: 200px;
  width: 100%;
  border: 2px solid rgb(179, 179, 179);
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
}

.selected {
  border: 2px solid $primary;
}

.show-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.activity-details {
  border: 0.5px solid #bababa;
  height: fit-content;
  width: 100%;
  border-radius: 20px;
  padding: 32px;
}
