.neon {
  color: #EE6352;
}

.purple {
  color: $purple;
}

.teal {
  color: $teal;
}

.neon-underline {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  text-decoration-color: #EE6352;
}

.purple-underline {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  text-decoration-color: $purple;
}

.teal-underline {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  text-decoration-color: $teal;
}
