<div class="filters-container"  data-activity-target='filterCont'>
  <div class="background"></div>
  <button data-action="click->activity#toggleFilterForm">
    <i class="fa-solid fa-filter"></i>
    <i class="fa-solid fa-xmark"></i>
    <div class="count" data-activity-target='filterCount'>3</div>
  </button>

  <div class='menu'>
    <form action="/activities" data-activity-target="form">
      <div class="<%= 'd-none' unless @location_cookie %>">
        <label for="useDistanceFilter">Distance (km):</label>
        <input type="checkbox" data-activity-target="useDistanceFilter" data-action="change->activity#toggleDistanceFilter">
        <label for="slider"></label>
        <div class='slider-container'>
          <div class='input-wrapper'>
            <input type="range" min="0" max="20" value="20" step="2" class="form-range" id="customRange" list="markers" data-activity-target='slider' data-action='input->activity#processSlider' style="opacity: 0.3" disabled>
            <div class="marker" data-activity-target='marker' style="opacity: 0.3">
              <p>20</p>
            </div>
          </div>
        </div>
      </div>
      <div class="date-input">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" data-action="change->activity#updateFilterCount" />
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" data-action="change->activity#updateFilterCount" />
      </div>
      <label>Tags:</label>
      <div data-activity-target="tags" class="check">
        <label><input type="checkbox" value="indoors" data-action="change->activity#updateFilterCount">Indoors</label>
        <label><input type="checkbox" value="outdoors" data-action="change->activity#updateFilterCount">Outdoors</label>
        <label><input type="checkbox" value="sports" data-action="change->activity#updateFilterCount">Sports</label>
        <label><input type="checkbox" value="workshop" data-action="change->activity#updateFilterCount">Workshop</label>
        <label><input type="checkbox" value="immersive" data-action="change->activity#updateFilterCount">Immersive</label>
        <label><input type="checkbox" value="culture" data-action="change->activity#updateFilterCount">Culture</label>
        <label><input type="checkbox" value="entertainment" data-action="change->activity#updateFilterCount">Entertainment</label>
        <label><input type="checkbox" value="food" data-action="change->activity#updateFilterCount">Food</label>
        <label><input type="checkbox" value="exploration" data-action="change->activity#updateFilterCount">Exploration</label>
        <label><input type="checkbox" value="wellness" data-action="change->activity#updateFilterCount">Wellness</label>
        <label><input type="checkbox" value="adventure" data-action="change->activity#updateFilterCount">Adventure</label>
      </div>

      <button class="filter-button" type="submit" data-action='click->activity#applyFilters'>Apply Filters</button>
    </form>
  </div>
</div>
