<div class="filters-container"  data-activity-target='filterCont'>
  <div class="background"></div>
  <button data-action="click->activity#toggleFilterForm">
    <i class="fa-solid fa-filter"></i>
    <i class="fa-solid fa-xmark"></i>
    <div class="count" data-activity-target='filterCount'>3</div>
  </button>

  <div class='menu'>
    <form action="/activities" data-activity-target="form">
      <label for="distance">Distance (km):</label>
      <input type="checkbox" data-activity-target="useDistanceFilter" data-action="change->activity#toggleDistanceFilter">
      <div class='slider-container'>
        <div class='input-wrapper'>
          <input type="range" min="0" max="100" value="100" step="10" class="form-range" id="customRange" list="markers" data-activity-target='slider' data-action='input->activity#processSlider'>
          <div class="marker" data-activity-target='marker'>
            <p>10</p>
          </div>
        </div>
      </div>

      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" data-action="change->activity#updateFilterCount" />
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" data-action="change->activity#updateFilterCount" />

      <label>Tags:</label>
      <div data-activity-target="tags">
        <label><input type="checkbox" value="sports" data-action="change->activity#updateFilterCount">Sports</label>
        <label><input type="checkbox" value="workshops" data-action="change->activity#updateFilterCount">Workshops</label>
        <label><input type="checkbox" value="walks" data-action="change->activity#updateFilterCount">Walks</label>
        <label><input type="checkbox" value="immersive" data-action="change->activity#updateFilterCount">Immersive</label>
        <label><input type="checkbox" value="history" data-action="change->activity#updateFilterCount">History</label>
        <label><input type="checkbox" value="museums" data-action="change->activity#updateFilterCount">Museums</label>
        <label><input type="checkbox" value="food" data-action="change->activity#updateFilterCount">Food</label>
        <label><input type="checkbox" value="concerts" data-action="change->activity#updateFilterCount">Concerts</label>
      </div>

      <button class="filter-button" type="submit" data-action='click->activity#applyFilters'>Apply Filters</button>
    </form>
  </div>
</div>
