<div class="container activities" data-controller="activity" data-activity-token-value="<%= form_authenticity_token %>">
  <%# <%= render 'filter_activities' %>
  <div class="savebox" data-activity-target='savebox'>
    <i class="fa-solid fa-check"></i>
  </div>
  <div class="discardbox" data-activity-target='discardbox'>
    <i class="fa-solid fa-xmark"></i>
  </div>

  <%= render 'shared/activity-card', activities: @activities %>

  <div class="card-footer">
    <div class="d-flex justify-content-center gap-4">
      <button type="button" class="activity-button dislike" data-action="click->activity#discard"><i class="fa-solid fa-xmark"></i></button>
      <button type="button" class="activity-button send" data-action="click->activity#share"><i class="fa-regular fa-paper-plane"></i></button>
      <button type="button" class="activity-button like" data-action="click->activity#save"><i class="fa-regular fa-heart"></i></button>
    </div>
  </div>
</div>
