<div class="container activities" data-controller="activity" data-activity-token-value="<%= form_authenticity_token %>">
  <%= render 'filter_activities' %>
  <div class="savebox" data-activity-target='savebox'>
    <i class="fa-solid fa-check"></i>
  </div>
  <div class="discardbox" data-activity-target='discardbox'>
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="cards" data-activity-target='container'>
    <% @activities.shuffle.each_with_index do |activity, index| %>
      <%= render 'activity_card', activity: activity %>
    <% end %>

    <div class='empty-notice' data-activity-target='empty'>
      <p>No more suggested activities</p>
    </div>
  </div>

  <div class="btn-saves">
    <%= link_to "My Saves", saves_path %>
  </div>
  </div>
