<div class="container activities" data-controller="activity" data-activity-token-value="<%= form_authenticity_token %>">
  <%= render 'filter_activities' %>
  <div class="savebox" data-activity-target='savebox'>
    <i class="fa-solid fa-check"></i>
  </div>
  <div class="discardbox" data-activity-target='discardbox'>
    <i class="fa-solid fa-xmark"></i>
  </div>

  <%= render 'shared/activity-card', activities: @activities %>

  <div class="card-footer">
    <div class="d-flex justify-content-center gap-4">
      <button type="button" class="activity-button dislike" data-action="click->activity#discard"><i class="fa-solid fa-xmark"></i></button>
      <button type="button" class="activity-button send" data-action="click->activity#share"><i class="fa-regular fa-paper-plane"></i></button>
      <button id="heart" type="button" class="activity-button like" data-action="click->activity#save"><i class="fa-regular fa-heart"></i></button>
    </div>
  </div>
</div>

<style>
  body {
    overflow: hidden;
  }
</style>

<script>
  document.addEventListener("turbo:load", function() {
    document.body.addEventListener("click", function(event) {
      const heartButton = event.target.closest(".like");
      const originalHTML = heartButton.innerHTML

      if (heartButton) {
        // Change the background color to the solid color
        heartButton.innerHTML = '<i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;"></i>';
        // Wait for 2 seconds (2000 milliseconds)
        setTimeout(function() {
          // Revert back to the original background color
          heartButton.innerHTML = originalHTML
        }, 250);
      }
    });
  });

   document.addEventListener("turbo:load", function() {
    document.body.addEventListener("click", function(event) {
      const dislikeButton = event.target.closest(".dislike");
      const originalHTML = dislikeButton.innerHTML

      if (dislikeButton) {
        // Change the background color to the solid color
        dislikeButton.innerHTML = "<i class='fa-solid fa-x'></i>";
        // Wait for 2 seconds (2000 milliseconds)
        setTimeout(function() {
          // Revert back to the original background color
          dislikeButton.innerHTML = originalHTML
        }, 250);
      }
    });
  });
</script>
