<%# <% @activities.each do |activity| %>
  <%#= activity.title %>
<%# end %>

<%# <div data-controller="activity">
  <%#= @random_activity.title %>
<%# </div> %>

<div class="container" data-controller="activity">
  <div class="card">
    <%= @random_activity.title %>
    <div class="d-flex justify-content-between">
      <div class="btn btn-danger" data-action="click->activity#discard">
        Not interested
      </div>
      <div class="btn btn-success" data-action="click->activity#save">
        Save
      </div>
    </div>
  </div>
</div>
