<div class="container p-5">
  <div class="pb-2 border-bottom border-2 mb-4">
    <h1>Select groups</h1>
    <p>Select one or multiple groups to which you would like to send the event.</p>
  </div>
  <div data-controller="share" data-share-activity-value="<%= @activity.id %>" data-share-token-value="<%= form_authenticity_token %>">
    <div class="mb-4">
      <%= render 'shared/group_share_card', groups: @groups %>
    </div>
    <button class="btn btn-outline-secondary w-100" data-action="click->share#send">
      Share
    </button>
  </div>
</div>
