<div class="container p-0">
  <%= render 'shared/new_activity', activity: @activity %>
  <div class="pin p-3 sticky-bottom">
    <div class="d-flex justify-content-center my-2">
      <%= link_to "Send to group", share_path(@activity), class: "show-button share"  %>
      <%= link_to "+ Create event", new_event_path(:activity_id => @activity), class: "show-button create"  %>
    </div>
  </div>
</div>
