<div class="container p-0">
  <%= render 'shared/new_activity', activity: @activity %>
  <div class="my-4 d-flex gap-3">
    <%= link_to "Send to group", share_path(@activity), class: "btn btn-outline-secondary flex-grow-1"  %>
    <%= link_to "Create event", new_event_path(:activity_id => @activity), class: "btn btn-outline-secondary flex-grow-1"  %>
  </div>
</div>
